.col-lg-3:nth-child(2) .single-footer-widget{
    padding-left: 48px;
}

.footer-area{
    background: #9FB982 none repeat scroll 0 0;
    padding: 80px 0 30px;
}

.single-footer-widget > h3{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.single-footer-widget > p{
    color: #9FB982;
}

.c-info{
    color: #9FB982;
    display: block;
    line-height: 24px;
    margin-bottom: 10px;
}

.c-info i{
    font-size: 16px;
    width: 34px;
}

.single-footer-widget > p.margin{
    margin-bottom: 24px;
}

.open-time{
    color: #fff;
    display:block;
    line-height: 27px;
}

.open-time:nth-child(3){
    padding-top: 5px;
}

#mc-form > input {
    color: #eaeaea;
    font-size:13px ;
    height: 38px;
    margin-bottom: 20px;
    margin-top: 6px;
    padding: 0 17px;
}

.newsletter-form input#mc-email::-moz-placeholder{
    color: #eaeaea;
}

.newsletter-form input[type="email"]::-webkit-input-placeholder{
    color: #eaeaea;
}

#mc-form .default-btn{
    background: #fff none repeat scroll 0 0;
    color: #9FB982;
    font-size: 14px;
    height: 38px;
    line-height: 36px;
    padding: 0 52px;
}

#mc-form .default-btn:before{
    background: #9FB982 none repeat scroll 0 0;
}

.footer-links > a{
    color: #000000;
    display: inline-block;
    font-size: 16px;
    height: 27px;
    line-height: 26px;
    margin: 0 3px;
    text-align: center;
    width: 24px;
}

.footer-links > a:hover{
    background: #fff none repeat scroll 0 0;
    color: #9FB982;
}

.footer-links > a:first-child{
    margin-left: 0;
}

.footer-links{
    padding-top: 24px;
}

.mailchimp-alerts{
    color: #fff;
    padding-top: 15px;
}

.footer-text > span{
    display: block;
    line-height: 20px;
}

.footer-text, .footer-text a{
    color: #fff;
}

.footer-text a:hover{
    border-bottom: 1px solid #fff;
}